<% provide(:title, 'Resume') %>

<!-- Download URL -->
<div class="alert alert-success alert-dismissible col-sm-offset-1 col-sm-10" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <a href="https://dl.dropboxusercontent.com/u/61119290/James%20White%20Resume%202015.pdf" target="blank">Download as .PDF here!</a>
</div>



<div class="container col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
<!-- Header -->
	<div id="resumeAll">
		<div class="row" id="rHeader"> 
			<div class="container">
				<h1>James Justin White III <br /> <small>Web Developer / Software Engineer</small><br /><h2>876 Foxdale Avenue | Winnetka, IL 60093 | (847) 770-5146 | <a href="mailto:jjustinwhite@mac.com">jjustinwhite@mac.com</a> | <a href="http://www.github.com/sirjustinwhite" target="blank">GitHub</a></h2></h1> <br />
			</div>
		</div>

<!-- Education -->
		<div class="row" id="rEducation">
			<div class="container">
				<h2 class="resume"><strong>EDUCATION</strong></h2> <hr class="resume" />
						<dl class="pull-left col-sm-10">
							<dt>DePaul University, College of Computing and Digital Media</dt>
							<dd><em>Bachelor of Science in Information Technology</em></dd>
						</dl>

						<dl class="pull-right col-sm-2">
							<dt>Chicago, IL</dt>
							<dd>March 2015</dd>
						</dl>
			</div>
		</div>

<!-- Experience -->
		<div class="row" id="rExperience">
			<div class="container">
				<h2 class="resume"><strong>RELEVANT EXPERIENCE</strong></h2> <hr class="resume" />

						<dl class="pull-left col-sm-10">
						  <dt>Young Men’s Educational Network – YMEN</dt>
						  <dd><em>Project Manager &amp; Lead Developer Database Web Application</em></dd>
						  	<ul>
							  <li>Actively participated in client meetings</li>
							  <li>Developed a private cloud system utilizing Ruby on Rails and MySQL database</li>
							  <li>Streamlined the management and access of student, staff and volunteer records</li>
							</ul>
						</dl>
						<dl class="pull-right col-sm-2">
						  <dt>Chicago, IL</dt>
						  <dd>Winter - Spring 2014</dd>
						</dl>


						<dl class="pull-left col-sm-10">
						  <dt>Digital Youth Network and Indiana University</dt>
						  <dd><em>Lead Developer Circuit Simulator Web Application – <a href="http://circuits.siteground.net/" target="blank">Circuit Simulator</a></em></dd>
						  	<ul>
							  <li>Worked with both organizations to create teen friendly web application</li>
							  <li>Developed an interactive, online circuit simulator to teach pre-teen girls how to create e-textile circuits</li>
							</ul>
						</dl>
						<dl class="pull-right col-sm-2">
						  <dt>Chicago, IL</dt>
						  <dd>Winter 2014</dd>
						</dl>


						<dl class="pull-left col-sm-10">
						  <dt>Vector Marketing</dt>
						  <dd><em>Senior Sales Advisor</em></dd>
						  	<ul>
							  <li>Actively participated in intensive sales training sessions</li>
							  <li>Implemented business strategies and sales demonstration techniques to educate potential customers</li>
							  <li>Set weekly sales goals, met with customers, collected payments and managed sales records</li>
							  <li>Special recognition and letter of recommendation from Albert DiLeonardo, President of Vector East for outstanding sales - sold over $11,000 in merchandise</li>
							</ul>
						</dl>
						<dl class="pull-right col-sm-2">
						  <dt>Northbrook, IL</dt>
						  <dd>May - Aug 2009</dd>
						</dl>


						<dl class="pull-left col-sm-10">
						  <dt>Little Ricky’s Restaurant</dt>
						  <dd><em>Host/Carry-out Sales/Delivery</em></dd>
						  	<ul>
							  <li>Greeted guests in the restaurant and on the telephone</li>
							  <li>Monitored seating availability and managed waiting list</li>
							  <li>Performed all carry-out and delivery sales duties including: accurately writing up and packing orders, receiving and processing payment, timely delivery</li>
							</ul>
						</dl>
						<dl class="pull-right col-sm-2">
						  <dt>Winnetka, IL</dt>
						  <dd>2008 - 2014</dd>
						</dl>

			</div>
		</div>

<!-- Activities -->
		<div class="row" id="rActivities">
			<div class="container">
				<h2 class="resume"><strong>ACTIVITIES &amp; EXPERIENCE</strong></h2> <hr class="resume" />

						<dl class="pull-left col-sm-10">
						  <dt>DePaul University Silicon Valley Research Trip</dt>
						  	<ul>
							  <li>Joined Professor Olayele Adelakun to research and study the Silicon Valley Information Technology Cluster and tech startup culture - <a href="http://facweb.cs.depaul.edu/yele/Course/Silicon/index.html" target="blank">Research Trip Class Page</a></li>
							  <li>Toured the headquarters of Facebook, Google, Yahoo!, eBay Now, Intel, Square Inc., Freewheel and Evernote</li>
							  <li>Met with executives, project managers and software engineers to gain a better perspective of the industry</li>
							</ul>
						</dl>
						<dl class="pull-right col-sm-2">
						  <dt>Silicoln Valley, CA</dt>
						  <dd>Summer 2013</dd>
						</dl>


						<dl class="pull-left col-sm-10">
						  <dt>Code Academy (The Starter League)</dt>
						  	<ul>
							  <li>Enhanced web development skills including Ruby, Ruby on Rails, JavaScript, HTML, CSS, Git, GitHub and MySQL Databases</li>
							  <li>Built business strength web applications, showcased them in ‘DemoDay’ to Chicago’s technology community</li>
							</ul>
						</dl>
						<dl class="pull-right col-sm-2">
						  <dt>Chicago, IL</dt>
						  <dd>Summer 2012</dd>
						</dl>

						<dl class="pull-left col-sm-10">
						  <dt>National Outdoor Leadership School (NOLS)</dt>
						  	<ul>
							  <li>Gained leadership and enhanced communication skills while experiencing the outback of Australia</li>
							  <li>Elected Leader of the Independent Student Group Expedition, leading four of my peers through the outback for five days without instructors, received special recognition and letter of recommendation</li>
							</ul>
						</dl>
						<dl class="pull-right col-sm-2">
						  <dt>Broome, Australia</dt>
						  <dd>Winter - Spring 2011</dd>
						</dl>

			</div>
		</div>

<!-- Skills -->
		<div class="row" id="rSkills">
			<div class="container">
				<h2 class="resume"><strong>COMPUTER &amp; SOFTWARE SKILLS</strong></h2> <hr class="resume" />
					<div class="pull-left">
						<p><em>Ruby on Rails, HTML, CSS, Bootstrap, Git, GitHub, Amazon Web Services (EC2), Java, JavaScript, jQuery, Python, C++, Objective-C, C#, iOS App Development, ASP.NET, MySQL, WordPress, Drupal, Software Project Management</em></p> <br />
					</div>
			</div>
		</div>



	</div>

</div>

