<% provide(:title, 'Resume') %>

<div class="container well col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
	<h1>Resume</h1>
	<h3>Contact</h3>
<pre class="prettyprint linenums">
James Justin White III
<a href="http://twitter.com/#!/JJustinWhite">@JJustinWhite</a>
<a href="mailto:JJustinWhite@mac.com">JJustinWhite@mac.com</a>
<%= link_to "github.come/sirjustinwhite", "http://www.github.com/sirjustinwhite" %>
(847)-770-5146

</div>